<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="icon.png" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="index.css">
  <title>Amazona</title>
</head>

<body>
  
  <div class="grid-container">

    <header class="header">
      
      <div class="brand">
        <a href="index.html">amazona</a>
      </div>

      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Signin</a>
      </div>

    </header>
    
    <main class="main">
      <div class="content">
        <ul class="products">
          
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$65</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 2</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$65</div>
              <div class="product-rating">4.2 Stars (44 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 3</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$65</div>
              <div class="product-rating">4.9 Stars (65 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 4</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$65</div>
              <div class="product-rating">3.5 Stars (6 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 5</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$65</div>
              <div class="product-rating">4.1 Stars (20 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 6</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$60</div>
              <div class="product-rating">4 Stars (16 Reviews)</div>
            </div>
          </li><!-- End Product-->
          <li>
            <div class="product">
              <img src="images/d1.jpg" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Slim shirt 7</a>
              </div>            
              <div class="product-brand">Nike</div>             
              <div class="product-price">$63</div>
              <div class="product-rating">5 Stars (14 Reviews)</div>
            </div>
          </li><!-- End Product-->

        </ul>
      </div>
    </main>

    <footer class="footer">
      &copy; All right reserved.
    </footer>

  </div>

</body>

</html>
